.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('/public/logo512.png');
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.not-found-container h1 {
    font-size: 5em;
    margin-bottom: 0;
    color: #333;
}

.not-found-container p {
    font-size: 1.5em;
    margin-top: 0.5em;
    color: #666;
}

.not-found-container a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2em;
    margin-top: 1em;
}

.not-found-container a:hover {
    text-decoration: underline;
}